<div class="row center">
    <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#test1">About Me</a></li>
        <li class="tab"><a href="#test2">Resume</a></li>
        <li class="tab"><a href="#test4"></a></li>
    </ul>
    <div class="col s10 offset-s1">
        <div id="test1">
            <br>
            <div class="col s10 offset-s1">
                <div class="col s6">
                    <div class="card white darken-1">
                        <div class="card-content grey-text text-darken-2">
                            <span class="card-title">Basic Info</span>
                            <img class="circle responsive-img" width="150" src="/public/static/images/yutong_profile.jpg">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Name:</td>
                                        <td>Yutong Huang</td>
                                    </tr>
                                    <tr>
                                        <td>Gender:</td>
                                        <td>Female</td>
                                    </tr>
                                    <tr>
                                        <td>Age:</td>
                                        <td>24</td>
                                    </tr>
                                    <tr>
                                        <td>Nationality:</td>
                                        <td>China</td>
                                    </tr>
                                    <tr>
                                        <td>University:</td>
                                        <td>Carnegie Mellon University</td>
                                    </tr>
                                    <tr>
                                        <td>Residence:</td>
                                        <td>Pittsburgh, PA, US</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-action">
                            <a class="teal-text" href="https://www.linkedin.com/in/yutong-huang-cmu/" target="_blank">LinkedIn</a>
                            <a class="teal-text" href="https://www.facebook.com/profile.php?id=100012638163827" target="_blank">Facebook</a>
                        </div>
                    </div>
                </div>
                <div class="col s6">
                    <br>
                    <h4 class="orange-text">I'm a Chinese girl</h4>
                    <p class="grey-text text-darken-2">
                        Hi, This is Yutong. .
                    </p>
                </div>
            </div>
        </div>
        <div id="test2" class="col s12">Test 2</div>
    </div>
</div>